body {
	font-size: 62.5%;
}

/* Full Page */

.globalContainer {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

* {
	box-sizing: border-box;
}

/* Full Header */

header {
	background-image: url(Images/header.jpg);
	background-repeat: no-repeat;
	height: 521px;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
}

.headerTop {
	line-height: 80px;
}

/* header left */

.headerLeft {
	float: left;
	display: inline-block;
}

.logo {
	display: inline-block;
}

.logo img {
	margin-left: 120px;
}

.logoText {
	color: #083451;
	font-size: 1.6em;
	display: inline-block;
}

.logoText p {

}

/* Header right - Navigation Bar */

nav {
	font-family: 'Oswald', sans-serif;
	color: #062F4B;
	font-size: 1.7em;
	float: right;
	margin-right: 170px;
}

ul {
	list-style: none;
}

ul li {
	display: inline;
}

/* Center text in header */

.middleText {
	clear: both;
	width: 70%;
	margin: auto;
}

h1 {
	color: white;
	width: 100%;
	text-align: center;
	font-size: 9em;
	text-shadow: 1px 1px 1px #004A8E;
	display: block;
	margin-bottom: 0px;
}

h3 {
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	color: #083451;
	display: block;
	margin-top: 0px;
}

/* blog post main div */

sectionTwo {
	width: 950px;
	margin-right: auto;
	margin-left: auto;
	height: 740px;
}

.blogPost {
	width: 600px;
	float: left;
}

.sidebar {
	width: 300px;
	float: right;
}

/* footer */

footer {
	width: 1280px;
	height: 400px;
	font-family: 'Oswald', sans-serif;
}

footer h2 {
	text-align: center;
	font-size: 7em;
	color: #083452;
}

.Image1 {
	width: 320px;
	height: 330px;
	background-image: url(Images/article-image-1.jpg);
	display: inline-block;
	float: left;
}

.Image2 {
	width: 320px;
	height: 330px;
	background-image: url(Images/article-image-2.jpg);
	display: inline-block;
	float:left ;
}

.Image3 {
	width: 320px;
	height: 330px;
	background-image: url(Images/article-image-3.jpg);
	display: inline-block;
	float: left;

}

.Image4 {
	width: 320px;
	height: 330px;
	background-image: url(Images/article-image-4.jpg);
	display: inline-block;
	float: left;
}

/* final footer */

.finalFooter {
	width: 1280px;
	height: 96px;
	color: #9FAFBC;
	background-color: #083452;
	clear: both;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3em;
}

.IronYardImage {
	float: left;
	margin-left: 120px;
	margin-top: 30px;
}

.IronYardText {
	float: left;
	margin-left: 10px;
	margin-top: 30px;
}

.navItems {
	font-size: 13px;
	float: right;
	margin-top: 30px;
	margin-right: 170px;
}
