

/* ---------- SASS DECLARATIONS --------- */


$darkBlue: #083452;
$lightBlue: #196EB1;
$lightGray: #A3B2BD;
$darkGray: #545F66;
$globalWidth: 1300px;

@mixin fontOpenSans() {
  font-family: 'Open Sans', Helvetica, sans-serif;
}

@mixin fontOswald() {
  font-family: 'Oswald', Helvetica, sans-serif;
}

@mixin buttonPosition() {
  display: inline-block;
  margin-right: 10px;
}

@mixin buttonTextHover() {
  background: $lightBlue;
  color: white;
}

@mixin buttonImageHover() {
  background: $darkBlue;
}


/* ---------- START CSS ---------- */


body {
  @include fontOswald;
  font-size: 62.5%;
  }

.globalContainer {
  width: $globalWidth;
  margin: auto;
  }

.fullpagenoff {
  height: calc(100vh - 97px);
  }

* {
  box-sizing: border-box;
  }

p {
  line-height: 155%;
  }

/* ---------- HEADER STYLE ---------- */

header {
  background-image: url(Images/header.jpg);
  height: 522px;
  }

.headerContent {
  width: 78%;
  margin: auto;
  }

.headerLeft {
  margin: auto;
  }

.logo {
  display: inline-block;
  float: left;
  margin-top: 8px;
  margin-right: 15px;
  }

.logoText {
  @include fontOpenSans;
  font-size: 1.7em;
  display: inline-block;
  float: left;
  margin-top: 3px;
  color: $darkBlue;
  }

nav {
  color: $darkBlue;
  font-size: 1.8em;
  display: inline-block;
  float: right;
  margin-right: 12px;
  }

ul {
  list-style: none;
  }

li {
  display: inline;
  padding: 5px;
  }

.about {
  padding-right: 3px;
  }

h1 {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 9.7em;
  text-shadow: 1px 1px 1px #004A8E;
  clear: both;
  padding-top: 131px;
  margin-bottom: 0px;
  @include fontOpenSans;
  }

h3 {
  text-align: center;
  font-size: 1.6em;
  color: $darkBlue;
  @include fontOpenSans;
  margin-top: -15px;
  }

/* ---------- BODY MIDDLE STYLE ---------- */

.sectionTwo {
  width: $globalWidth;
  height: 1010px;
  margin: auto;
  @include fontOpenSans;
  border-bottom: 1px solid #E1E7EA;

    a {
      color: $lightGray;
    }

    a:hover {
      color: #106DB3;
    }

  }

.innerTwo {
  width: 75%;
  margin: auto;
  }

.blogPost {
  float: left;
  width: 61%;
  margin-top: 11px;
  }

h2 {
  @include fontOswald;
  color: $darkBlue;
  line-height: 116%;
  }

.blogPost {

    h2 {
      font-size: 6.2em;
      color: $darkBlue;
      width: 100%;
      float: left;
      margin-bottom: 4px;
    }

}

.byline {

    img {
      width: 4%;
      float: left;
    }

    ul {
      margin-top: 4px;
      float: left;
      padding-left: 2px;
      font-size: 1.3em;
    }

}

.annemarie {
  color: $lightBlue;
  }

.gray {
  color: $lightGray;

    span {
      text-decoration: underline;
    }

}

article {
  float: left;
  font-size: 1.6em;
  color: $darkGray;

    blockquote {
      font-size: 1.8em;
      color: $lightBlue;
      border-left: 2px solid #E1E7EA;
      padding-left: 15px;
      margin-left: 10px;
      margin-bottom: 40px;
      margin-top: 40px;
      }

}

 /* ---------- SHARE BUTTONS ---------- */

.buttons {
  float: left;

    a {
      text-decoration: none;
    }

}

.button1 {
  @include buttonPosition();
  }

.button2 {
  @include buttonPosition();
  }

.button3 {
  @include buttonPosition();
  }

.bimage {
  background-color: $darkGray;
  text-align: center;
  display: inline;
  float: left;
  padding: 6px;
  }

.btext {
  background: $lightGray;
  color: white;
  padding: 7px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 1.2em;
  text-align: center;
  float: right;
  }


/* ---------- SHARE LINK HOVER EFFECTS ---------- */


.button1:hover .btext {
  @include buttonTextHover();
  }

.button1:hover .bimage {
  @include buttonImageHover();
  }

.button2:hover .btext {
  @include buttonTextHover();
  }

.button2:hover .bimage {
  @include buttonImageHover();
  }

.button3:hover .btext {
  @include buttonTextHover();
  }

.button3:hover .bimage {
  @include buttonImageHover()
  }


/* ---------- SIDEBAR ---------- */


.sidebar {
  width: 29%;
  float: right;
  height: 100%;
  }

.avatarInfo {
  display: inline-block;
  margin-top: 83px;
  text-align: center;

    img {
      height: 88px;
    }

}

.authorName {
  color: $lightBlue;
  font-size: 1.5em;
  margin-top: 4px;
  margin-bottom: 0px;
  }

.social {
  margin-top: 0px;
  font-size: 1.2em;
  color: #CFD7DE;

    a {
      text-decoration: none;
    }

}


/* ---------- ADVERTISEMENT ---------- */


.advertisement {
  display: inline-block;
  margin-top: 43px;
  text-align: center;
  width: 100%;

    a {
      display: block;
      font-size: 1.4em;
      float: right;
      margin-bottom: 0px;
    }

    img {
      width: 100%;
    }

}


/* ---------- ABOUT SIDEBAR ---------- */


.aboutSidebar {
  display: inline-block;
  float: left;
  width: 100%;
  margin-top: 35px;

    h2 {
      font-size: 1.9em;
      margin-bottom: 0px;
      margin-top: 0px;
      color: $lightBlue;
    }

    p {
      color: $lightGray;
      font-size: 1.4em;
      line-height: 170%;
      margin-top: 6px;
    }

}


/* ---------- FOOTER STYLE ---------- */


footer {
  line-height: 0;

    h2 {
      text-align: center;
      font-size: 6.3em;
      color: $darkBlue;
      margin-top: 30px;
      margin-bottom: 40px;
      clear: both;
    }

}


/* ---------- BOTTOM IMAGES ---------- */


.bottomimage {
  width: 325px;
  height: 330px;
  position: relative;
  float: left;
  line-height: 40px;
  }

.overlay {
  width: 325px;
  height: 330px;
  background-color: rgba(25, 110, 177, .8);
  position: absolute;
  top: 0;
  left: 0;
  }

h4 {
  position: absolute;
  bottom: -30px;
  left: 20px;
  color: $darkBlue;
  font-size: 3.1em;
  }

.bottomimage:hover .overlay {
  background: none;
  }

.bottomimage:hover h4 {
  color: white;
  }


/* ---------- FINAL FOOTER ---------- */


.finalFooter {
  height: 97px;
  width: $globalWidth;
  line-height: 75px;
  font-size: 1.3em;
  color: $lightGray;
  background-color: $darkBlue;
  clear: both;
  @include fontOpenSans;

    .innerFooter {
      width: 75%;
      margin: auto;

        .IronYardImage {
          float: left;
          display: inline-block;
          margin-top: 20px;
          }

        .IronYardText {
          display: inline-block;
          margin-left: 10px;
          margin-top: 25px;
          }

        .navItems {
          float: right;
          display: inline-block;
          }

    }

}
